@media (orientation: portrait) {
    table {
			width:84vw;
			height:72vw;
    }
    
    button {
			width: 20vw;
			height: 10vw;
			margin: 3vw;
			font-size: 5vw;
			line-height: 10vw;
			border-radius: 1vw;
			vertical-align: center;
    }
    
    div {
			margin:2vw;
			font-size:5vw;
    }
    
    select {
			font-size:5vw;
    }
}

@media (orientation: landscape) {
    table {
			width:70vh;
			height:60vh;
    }
    
    button {
			width: 10vh;
			height: 5vh;
			margin: 3vh;
			font-size: 2.5vh;
			line-height: 5vh;
			border-radius: 1vh;
    }
    
    div {
			margin:2vh;
			font-size:2.5vh;
    }
    
    select {
			font-size:2.5vh;
    }
}

table {
	margin:auto;
	border-collapse: collapse;
	background-color: #FAFAD2;
}

div {
	text-align:center;
}

td {
	color: #C1C1C1;
	border: 1px solid;
	border-color: #C1C1C1;
}

button {
	background-color: #D8D8D8
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}
