@media (orientation: portrait) {
    table {
			width:84vw;
			height:72vw;
    }
    
    .button {
			width:20vw;
			height:10vw;
			font-size: 6vw;
			line-height:10vw;
			border-radius: 1vw;
			vertical-align:center;
    }
    
    .hint {
			margin:2vw;
			font-size:6vw;
    }
}

@media (orientation: landscape) {
    table {
			width:70vh;
			height:60vh;
    }
    
    .button {
			width:10vh;
			height:5vh;
			line-height:5vh;
			border-radius: 1vh;
    }
    
    .hint {
			margin:2vh;
    }
}

table {
	margin:auto;
	border-collapse: collapse;
	background-color: #FAFAD2;
}

td {
	border: 1px solid;
	border-color: #C1C1C1;
}

.button {
	margin:auto;
	margin-top:2vh;
	text-align:center;
	background-color: #D8D8D8
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.hint {
	text-align:center;
}